@{
    ViewBag.Title = "Home Page";
}

<!-- Home -->
<br /><br /><br /><br /><br /><br /><br />
<div id="wowslider-container1">
    <div class="ws_images">
        <ul>
            <li><img src="~/Content/web/data1/images/1.jpg" alt="1" title="1" id="wows1_0" /></li>
            <li><img src="~/Content/web/data1/images/2.jpg" alt="full screen slider" title="2" id="wows1_1" /></li>
            <li><img src="~/Content/web/data1/images/3.jpg" alt="3" title="3" id="wows1_2" /></li>
        </ul>
    </div>

    <div class="ws_shadow"></div>
</div>
@*<script type="text/javascript" src="engine1/wowslider.js"></script>
<script type="text/javascript" src="engine1/script.js"></script>*@

<!-- 3 Boxes -->

<div class="boxes" style="z-index:5000;">
    <div class="container">
        <div class="row">

            <!-- Box -->
            <div class="col-lg-4 box_col">
                <div class="box working_hours">
                    <img src="~/Content/web/images/photo.jpg" width="100%" height="auto" alt="Mausiqui Cafe" />
                    <div class="box_title">Literature</div>
                </div>
            </div>

            <!-- Box -->
            <div class="col-lg-4 box_col">
                <div class="box working_hours">
                    <img src="~/Content/web/images/music.jpg" width="100%" height="auto" alt="Mausiqui Cafe" />
                    <div class="box_title">Music Gallery</div>
                </div>
            </div>

            <!-- Box -->
            <div class="col-lg-4 box_col">
                <div class="box working_hours">
                    <img src="~/Content/web/images/video.jpg" width="100%" height="auto" alt="Mausiqui Cafe" />
                    <div class="box_title">Entertainment</div>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- About -->
<!-- Departments -->
<!-- Services -->

<div class="services">
    <div class="container">

        <div class="row services_row">

            <!-- Service -->
            <div class="col-lg-4 col-md-6 service_col">
                <div class="dept">
                    <div class="dept_image"><iframe width="100%" height="200px" src="https://www.youtube.com/embed/YHLTu21EWG0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></div>
                    <div class="dept_content text-center" style="text-align:center;">
                        <div class="dept_title">Hindi poetry | आम |गुलज़ार | Gulzar | recitation</div>
                        <div class="dept_subtitle">मोड़ पे देखा है वो बूढ़ा-सा इक आम का पेड़ कभी?</div>
                    </div>
                </div>
            </div>

            <!-- Service -->
            <div class="col-lg-4 col-md-6 service_col">
                <div class="dept">
                    <div class="dept_image"><iframe width="100%" height="200px" src="https://www.youtube.com/embed/grsL6_H8lbw" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></div>
                    <div class="dept_content text-center" style="text-align:center;">
                        <div class="dept_title">Hindi poetry |रात चुपचाप दबे पाँव चली जाती है |गुलज़ार |Gulzar | recitation</div>
                        <div class="dept_subtitle">रात चुपचाप दबे पाँव चली जाती है</div>
                    </div>
                </div>
            </div>

            <!-- Service -->
            <div class="col-lg-4 col-md-6 service_col">
                <div class="dept">
                    <div class="dept_image"><iframe width="100%" height="200px" src="https://www.youtube.com/embed/zU3UokicvVI" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></div>
                    <div class="dept_content text-center" style="text-align:center;">
                        <div class="dept_title">Hindi Poetry | हम को मन की शक्ति देना | गुलज़ार |gulzar |recitation</div>
                        <div class="dept_subtitle">हम को मन की शक्ति देना, मन विजय करें</div>
                    </div>
                </div>
            </div>

            <!-- Service -->
            <div class="col-lg-4 col-md-6 service_col">
                <div class="dept">
                    <div class="dept_image"><iframe width="100%" height="200px" src="https://www.youtube.com/embed/yRX6yLk27XI" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></div>
                    <div class="dept_content text-center" style="text-align:center;">
                        <div class="dept_title">Hindi Poetry |एक तुम हो | माखनलाल चतुर्वेदी | recitation | Rohitash</div>
                        <div class="dept_subtitle">गगन पर दो सितारे: एक तुम हो,</div>
                    </div>
                </div>
            </div>

            <!-- Service -->
            <div class="col-lg-4 col-md-6 service_col">
                <div class="dept">
                    <div class="dept_image"><iframe width="100%" height="200px" src="https://www.youtube.com/embed/V5ZdJbpUO8s" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></div>
                    <div class="dept_content text-center" style="text-align:center;">
                        <div class="dept_title">Hindi Poetry |पुष्प की अभिलाषा | माखनलाल चतुर्वेदी | recitation | Rohitash</div>
                        <div class="dept_subtitle">चाह नहीं, मैं सुरबाला के </div>
                    </div>
                </div>
            </div>

            <!-- Service -->
            <div class="col-lg-4 col-md-6 service_col">
                <div class="dept">
                    <div class="dept_image"><iframe width="100%" height="200px" src="https://www.youtube.com/embed/OEXix1Ltu1U" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe></div>
                    <div class="dept_content text-center" style="text-align:center;">
                        <div class="dept_title">Hindi Poetry |तुलना | दुष्यंत कुमार | recitation | Rohitash</div>
                        <div class="dept_subtitle">गडरिए कितने सुखी हैं ।</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>